.upload-container {
    padding: 60px 20px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers everything horizontally */
}

.upload-title {
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center;
}

.upload-form {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.file-input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.predict-btn {
    background-color: #1A8EFD;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border: 1px solid #1A8EFD;
}

.predict-btn:hover {
    color: #1A8EFD;
    background-color: white;
    border: 1px solid #1A8EFD;
}

.prediction-result {
    margin-top: 20px;
    color: #1A8EFD;
    font-weight: bold;
    font-size: 18px;
    text-align: center; /* centers prediction text */
}

.gradcam-container {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: 400px;
    display: flex;
    justify-content: center; /* centers the image horizontally */
    align-items: center;     /* centers the image vertically */
    border: 2px dashed #1A8EFD;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    color: #ccc;
    font-size: 18px;
    text-align: center;
}

.gradcam-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
